{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container login-box">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}
            <div class="column-container">
                <div class="row-container input-group">
                    <label class="medium-form-label" for="email">Email:</label>
                    <span id="email" name="email">{{ form.username }}</span>
                </div>
                
                <div class="row-container input-group">
                    <label class="medium-form-label" for="password">Password:</label>
                    <span id="password" name="password">{{ form.password }}</span>
                </div>
    
                <div class="row-container btn-group">
                    <input type="submit" value="Login" class="btn-primary">
                    <button class="btn-primary"><a href="{% url 'signup' %}">Sign Up</a></button>
                </div>
            </div>
        </form>
        
    </div>

    <img src="{% static 'img/FSDI_Final_Logo.svg' %}" alt="company logo" class="corner-logo">

</body>
</html>