{% extends 'base.html' %}
{% load static %}

{% block title %}
    Calendar
{% endblock title%}

{% block links %}
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}" />
{% endblock links %}

{% block contents %}
<div class="row-container contents days">
    <section class="column-container one-day">
        <h5 class="date">MONDAY, OCT 17</h5> 
        <div class="line">
        </div>

        <div class="row-container line-time">
            <span class="time">8:00 AM</span>
        </div>
        
        <div class="row-container line-time">
            <span class="time">9:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">10:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">11:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">12:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">1:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">2:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">3:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">4:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">5:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">6:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">7:00 PM</span>
        </div>

    

    </section>
    <section class="column-container one-day">
        <h5>TUESAY, OCT 18</h5>
        <div class="line">
        </div>

        <div class="row-container line-time">
            <span class="time">8:00 AM</span>
        </div>
        
        <div class="row-container line-time">
            <span class="time">9:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">10:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">11:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">12:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">1:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">2:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">3:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">4:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">5:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">6:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">7:00 PM</span>
        </div>
    </section>

    <section class="column-container one-day">
        <h5>WEDNESDAY, OCT 19</h5>
        <div class="line">
        </div>

        <div class="row-container line-time">
            <span class="time">8:00 AM</span>
        </div>
        
        <div class="row-container line-time">
            <span class="time">9:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">10:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">11:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">12:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">1:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">2:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">3:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">4:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">5:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">6:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">7:00 PM</span>
        </div>
    </section>
    <section class="column-container one-day">
        <h5>THURSDAY, OCT 19</h5>
        <div class="line">
        </div>

        <div class="row-container line-time">
            <span class="time">8:00 AM</span>
        </div>
        
        <div class="row-container line-time">
            <span class="time">9:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">10:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">11:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">12:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">1:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">2:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">3:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">4:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">5:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">6:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">7:00 PM</span>
        </div>
    </section>

    <section class="column-container one-day">
        <h5>FRIDAY, OCT 20</h5>
        <div class="line">
        </div>

        <div class="row-container line-time">
            <span class="time">8:00 AM</span>
        </div>
        
        <div class="row-container line-time">
            <span class="time">9:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">10:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">11:00 AM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">12:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">1:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">2:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">3:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">4:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">5:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">6:00 PM</span>
        </div>

        <div class="row-container line-time">
            <span class="time">7:00 PM</span>
        </div>
    </section>

 
</div>
</div>
{% endblock contents %}
